<div id="<%= dom_id product %>">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">Code: <%= product.code %></p>
        <p class="card-text">Price: <%= number_to_currency(product.price) %></p>
        <p class="card-text">Promotions: <%= product.promotions.map(&:name).join(', ') %></p>
      </div>
    </div>
  </div>
</div>
